#app {
  display: grid;
  height: 300px;
  width: 400px;
  grid-template-columns: 1fr 4fr 2fr; 
  grid-template-rows: 1fr 2fr 2fr 1fr;
  grid-template-areas:
  "header header header"
  "nav article-1 ad-area"
  "nav article-2 ad-area"
  "footer footer footer";
}

#header, #footer {
  background-color: #9BCE1D;
}

#header {
  grid-area: header;
}

#footer {
  grid-area: footer;
}

#main {
  background-color: #F7F5D8
}

#article-1 {
  background-color: lightcoral;
  grid-area: article-1;
}

#article-2 {
  background-color: violet;
  grid-area: article-2;
}

#nav {
  background-color: cornflowerblue;
  grid-area: nav;
}

#ad-area {
  background-color: cornflowerblue;
  grid-area: ad-area;
}
